
/* VUEJS*/

#keep main .container {
    height: 660px;
  }

  .navigation-drawer__border {
    display: none;
  }

  .text {
    font-weight: 400;
  }


    .tour .pos{
        text-align: right;
        width: 34%;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tour .neg {
        text-align: left;
        width: 34%;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }