@{
    ViewData["Title"] = "Tableau de Bord";
}

@model DashboardViewModel

<v-app id="inspire" >
    
    <v-toolbar color="blue-grey" app absolute clipped-left>
        <v-toolbar-side-icon v-on:click.native="drawer = !drawer"></v-toolbar-side-icon>
        <span class="title ml-3 mr-5">@Model.User.Nom @Model.User.Prenom - @Model.User.Licence [@Model.User.NomClub - @Model.User.NumeroClub]</span>
        <v-text-field solo-inverted
                      flat
                      label="Search"
                      prepend-icon="search"></v-text-field>
        <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
        <v-container fluid fill-height grid-list-md class="blue-grey lighten-4">
            <v-layout row wrap>
                <v-flex d-flex xs12 sm6 md4>
                    <v-card>
                        <v-toolbar color="indigo" dark>
                            <v-toolbar-side-icon></v-toolbar-side-icon>

                            <v-toolbar-title>Joueurs</v-toolbar-title>

                            <v-spacer></v-spacer>

                            <v-text-field label="Nom ou Classe de Point" v-model="filter"></v-text-field>
                            <v-btn icon v-on:click="order='byName'">
                                <v-icon>list</v-icon>
                            </v-btn>
                            <v-btn icon v-on:click="order='byPoints'">
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <v-list>
                            <template v-for="(joueur,index) in joueursFilter">
                                <v-divider v-if="showDivider(joueur,index)"></v-divider>
                                <v-list-tile :key="joueur.licence"
                                             avatar
                                             v-on:click="">
                                    <v-list-tile-action>
                                        <!--  <v-icon v-if="item.icon" color="pink">star</v-icon>-->
                                    </v-list-tile-action>

                                    <v-list-tile-content>
                                        <v-list-tile-title v-text="joueur.nom +' ' + joueur.prenom"></v-list-tile-title>
                                    </v-list-tile-content>

                                    <v-list-tile-avatar>
                                        <!-- <img :src="item.avatar">-->
                                        <v-list-tile-title v-text="joueur.point"></v-list-tile-title>
                                    </v-list-tile-avatar>


                                </v-list-tile>
                                

                            </template>
                         </v-list>
                        
                    </v-card>
                </v-flex>
                <v-flex d-flex xs12 sm6 md3>
                    <v-layout row wrap>
                        <v-flex d-flex>
                            <v-card color="indigo" dark>
                                <v-card-text>{{ lorem.slice(0, 70) }}</v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex d-flex>
                            <v-layout row wrap>
                                <v-flex v-for="n in 2"
                                        :key="n"
                                        d-flex
                                        xs12>
                                    <v-card color="red lighten-2"
                                            dark>
                                        <v-card-text>{{ lorem.slice(0, 40) }}</v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex d-flex xs12 sm6 md2 child-flex>
                    <v-card color="green lighten-2" dark>
                        <v-card-text>{{ lorem.slice(0, 90) }}</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs12 sm6 md3>
                    <v-card color="blue lighten-2" dark>
                        <v-card-text>{{ lorem.slice(0, 100) }}</v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</v-app>
